<!DOCTYPE html>
<html>
  <head>
    <title>Program Admission Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">College</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Student Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/getall">Program Selection</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1> Search students by course </h1>
    <form action="/students/findbycourse" method="post" >
    <input type="text" name= "coursename" placeholder="Enter course name" />
    <input type="submit" value="Search name" />
    </form>

    <h2>List of all Students</h2>
    <!-- Visualize with bootstrap table class -->
    <table  class="table table-striped table-primary">

      <tr>
      <th>Username</th>
      <th>Full Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Student No</th>
      <th>Course Registered</th>
      <th>Edit</th>
      <th>Delete</th>
      </tr>
    <section data-position='students'>
        <% for ( var i=0; i<allusers.length; i++) { %>
          <tr>
        <form action="/student/sendedit" method="post">
            <td><%= allusers[i].username %></td>
            <td><%= allusers[i].fullname %></td>
            <td><%= allusers[i].contact %></td> 
            <td><%= allusers[i].email %></td> 
            <td><%= allusers[i].studentno %></td> 
            <td><%= allusers[i].coursename %></td> 
            <td><input type="hidden" name="username" value="<%= allusers[i].username %>" />
            <input type="submit" value="Edit Details" /></td>
        </form>
        <td>
        <form action="/student/delete" method="post">
            <input type="hidden" name="usernameToDelete" value="<%= allusers[i].username %>" />
            <input type="submit" value="Delete Student" />
        </form></td>
      </tr>    
        <% } %>
    </section>
    </table>
    <br >

    <br >

</body>
</html>